extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
  .row
    .col-md-6.col-sm-12
      p
        | Foodies, establishment where refreshments or meals may be procured by the public 
        | <br /><br />
        | Foodies is the place you're looking for tasty and delicious food
        | <br /><br />
        | It's a good to go place for all in one needs right from the work to the food and drinks.
        | <br /><br />
        | Foodies a place where you can eat a meal and pay for it